body {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

nav{
    display: flex;
    justify-content: flex-end;
}

main{
    margin: 0 auto;
    margin-top: 5%;
}

.gmail-link, .images-link, .singIn-link{
    display: inline-block;
    text-decoration: none;
    color: rgba(68, 68, 68, 0.877);
    margin-right: 2rem;
    margin-top: 1.2rem;
}

.singIn-link{
    color: #ffffffe3;
    background-color: rgb(13, 131, 228);
    padding: 5px 10px;
    border-radius: 4px;
    transition: transform 1s ease-in-out;
    margin-top: 0.9rem;
}

.singIn-link:hover{
    font-size: 18px;
    transform: scale(1.1 , 1.1);
    color: white;
}

.gmail-link:hover, .images-link:hover{
    color: black;
    font-weight: 700;
}


main img{
    width: 400px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

input{
    display: block;
    margin: 0 auto;
    width: 600px;
    border-radius: 100px;
    height: 40px;
    padding-inline-start: 20px;
    outline: unset;
}

main div a {
    display: inline-block;
    margin: 60px auto;
    text-decoration: none;
    margin-left: 37.5%;
    
}

::placeholder{
    opacity: 0.7;
}

.btn-google-search, .btn-feeling-lucky{
    color: gray;
    font-weight:600;
    padding: 10px 20px;
    border: 1px solid gray;
    background-color: #F2F2F2;
    border-radius: 3px ;
    
}

.btn-feeling-lucky{
margin-left: 30px;
}

.btn-google-search{
    margin-right: 40px;
}