:root{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brown-session{
    background-color: #d6a66e;
    width: 600px;
    height: 600px;
    margin-bottom: 5%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px gray ;
}

.green-session{
    background-color: #02350d;
    width: 85%;
    height: 85%;
    margin: 8% auto;  
    margin-top: 5%;
    display: flex;
   
}

.go-player1{
    background-color: #1aa9c2;
    color: white;
    padding: 20px 30px;
    margin-top: 3%;
}
.span1{
    padding-right: 3.5%;
    margin-left: 7%;
    border-right: 1px solid black;
    opacity: 0.7;
}
.span2{
    margin-right: 47%;
    padding-left: 3.5%;
    opacity: 0.7;
}

.span3{
    opacity: 0.7;
}

.square{
    width: 170px;
    height: 170px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
